.graph-board {
    padding: 120px 40px 60px 40px;
    display: flex;
    justify-content: center;
    gap: 40px;

    &__wrapper {
        width: 40%;
        border: 1px solid var(--border);
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__specifics-wrapper {
        display: flex;
        flex-direction: column;
        gap: 34px;
    }

    &__specifics {
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: relative;
    }

    &__button {
        width: 130px;
    }
}

