.axis-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media screen and (max-width: 424px) {
        width: 240px;
    }

    &__label {
        text-transform: uppercase;
        font-size: 14px;
        position: absolute;
        top: -18px;
        left: 8px;

        @media screen and (max-width: 1008px) {
            font-size: 12px;
            top: -16px;
        }
    }

    &__input {
        width: 100%;
        background-color: var(--background);
        text-align: center;
    }

    &__manual {

        & i {
            color: var(--light-blue);
        }
    }
}