.axis-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__label {
        text-transform: uppercase;
        font-size: 14px;
        position: absolute;
        top: -18px;
        left: 8px;
    }

    &__input {
        width: 100%;
        background-color: var(--background);
        text-align: center;
    }

    &__manual {

        & i {
            color: var(--light-blue);
        }
    }
}