.button {
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--background);
    border: 0;
    padding: 10px 16px;
    border: 2px solid var(--border);
    border-radius: 8px;
    
    &:disabled {
        pointer-events: none;
        color: var(--disabled);
    }
}