.button {
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--background);
    border: 0;
    padding: 10px 16px;

    // &:focus {
    //     outline: 0;
    //     border: 2px solid rgb(231, 219, 45);
    //     background-color: var(--input);
    // }
    
    &:disabled {
        pointer-events: none;
        color: var(--disabled);
    }
}