.graph-board {
    padding: 120px 40px 60px 40px;
    display: flex;
    justify-content: center;
    gap: 40px;

    @media screen and (max-width: 1008px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }

    &__wrapper {
        width: 40%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: 1176px) {
            padding: 0 0 40px 0;
        }

        @media screen and (max-width: 1008px) {
            width: 400px;
        }

        @media screen and (max-width: 488px) {
            width: 100%;
        }
    }

    &__options {
        display: flex;
        margin-bottom: 20px;
        border: 2px solid #12455980;
        width: 100%;
        border-radius: 14px;
        position: relative;

        @media screen and (max-width: 1008px) {
            height: 40px;
        }
    }

    &__specifics-wrapper {
        display: flex;
        flex-direction: column;
        gap: 34px;
        width: 100%;
    }

    &__specifics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 32px;
        position: relative;

        @media screen and (max-width: 424px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__button {
        width: 130px;
        margin: 0 auto;
    }
}

