:root {
  --background: #01161e;
  --characters: #aec3b0;
  --characters-light: #eff6e0;
  --disabled-letters: rgb(80, 80, 80);
  --border: #124559;
  --disabled: #495057;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);

  * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--characters);
  }
}

.app {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

main {
  width: 100%;
  height: 100%;
}
